.App {
  text-align: center;
}

.App-header {
  background: linear-gradient(to right top, #5d5399, #6cdbeb);
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.container {
  justify-content: center;
  width: 80%; /* Adjust width as needed */
  max-width: 1200px; /* Maximum width for larger screens */
  margin: 0 auto; /* Center the container horizontally */
  padding: 20px; /* Add padding for content */
  background: linear-gradient(to right top, #c0bdcf, #2b5e66);
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
  margin-bottom: auto;
}

button {
  background-image: linear-gradient(#0dccea, #0d70ea);
  border: 0;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: Montserrat,sans-serif;
  font-size: .9em;
  margin: 5px;
  padding: 10px 15px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

input {
  margin: 5px;
  padding: 10px 15px;
  border-radius: 2rem;
  border: 0;
  width: 30rem;
  font-family: Montserrat,sans-serif;
  max-width: 100%;
}

label {
  font-family: Montserrat,sans-serif;
  font-size: larger;
  font-weight: bold;
  color: aliceblue;
  text-align: left;
}

.add-todo {
  margin-top: 2rem;
}